$primary-color: #4B79A1;
$secondary-color: #283E51;
$accent-color: #FF7043;        
$background-color: #F7F9FB; 
$text-color: #F5F5F5;          
$title-text-color: #FFFFFF;   
$footer-background: #283E51;    
$header-overlay: rgba(0, 0, 0, 0.5);   

@import "{{ site.theme }}"; 